In [1]:
import pandas as pd
import numpy as np
import os
import subprocess

In [12]:
data = pd.read_csv('../../cache/track2/tmp/val.csv')
test = pd.read_csv("../../cache/track2/tmp/test.csv")

In [4]:
data.columns

Index(['uid', 'user_city', 'item_id', 'author_id', 'item_city', 'channel',
       'finish', 'like', 'music_id', 'device', 'create_time', 'duration_time'],
      dtype='object')

In [13]:
data.head()

,uid,user_city,item_id,author_id,item_city,channel,finish,like,music_id,device,create_time,duration_time
0,34959,100,997550,123224,31,0,0,0,-1,55727,53087051530,21
1,36294,293,122313,43720,4,0,0,0,9053,73892,53086447195,6
2,32775,115,668251,339,108,0,1,0,-1,44050,53086430889,7
3,38078,22,715602,14527,140,0,1,0,-1,46759,53085566616,9
4,30889,81,139364,9612,-1,0,0,0,-1,2460,53086065468,6

In [16]:
for i in test.columns:
    print (i, ":",np.sum(data[i] == -1))

uid : 0
user_city : 750646
item_id : 0
author_id : 0
item_city : 157358
channel : 0
finish : 0
like : 0
music_id : 2508138
device : 0
create_time : 0
duration_time : 0

In [17]:
for i in data.columns:
    print (i, ":",np.sum(data[i] == 0))

uid : 189
user_city : 3428
item_id : 4
author_id : 2884
item_city : 37964
channel : 3137809
finish : 2439245
like : 3880930
music_id : 0
device : 216
create_time : 0
duration_time : 56