In [1]:
import pandas as pd
import numpy as np
import os
import subprocess
import torch

In [2]:
train = pd.read_csv("../../cache/track2/tmp/train.csv")
val = pd.read_csv('../../cache/track2/tmp/val.csv')
test = pd.read_csv("../../cache/track2/tmp/test.csv")

In [11]:
data.columns

Index(['uid', 'user_city', 'item_id', 'author_id', 'item_city', 'channel',
       'finish', 'like', 'music_id', 'device', 'create_time', 'duration_time',
       'fl_00', 'fl_01', 'fl_11', 'fl_10', 'target'],
      dtype='object')

In [12]:
data.head()

,uid,user_city,item_id,author_id,item_city,channel,finish,like,music_id,device,create_time,duration_time,fl_00,fl_01,fl_11,fl_10,target
0,34959,101,997550,123224,32,0,0,0,0,55727,53087051530,21,0,0,0,0,0
1,36294,294,122313,43720,5,0,0,0,9054,73892,53086447195,6,0,0,0,0,0
2,32775,116,668251,339,109,0,1,0,0,44050,53086430889,7,0,0,0,3,3
3,38078,23,715602,14527,141,0,1,0,0,46759,53085566616,9,0,0,0,3,3
4,30889,82,139364,9612,0,0,0,0,0,2460,53086065468,6,0,0,0,0,0

In [6]:
for i in test.columns:
    print (i, ":",np.sum(test[i] == -1))

uid : 0
user_city : 0
item_id : 0
author_id : 0
item_city : 0
channel : 0
finish : 2761799
like : 2761799
music_id : 0
device : 0
create_time : 0
duration_time : 0
fl_00 : 0
fl_01 : 0
fl_11 : 0
fl_10 : 0

In [13]:
for i in data.columns:
    print (i, ":",np.sum(data[i] == 0))

uid : 189
user_city : 750646
item_id : 4
author_id : 2884
item_city : 157358
channel : 3137809
finish : 2439245
like : 3880930
music_id : 2508138
device : 216
create_time : 0
duration_time : 56
fl_00 : 3924468
fl_01 : 3903719
fl_11 : 3901679
fl_10 : 2462034
target : 2418496

In [14]:
data.target.value_counts()

0    2418496
3    1462434
2      22789
1      20749
Name: target, dtype: int64

In [5]:
train.head()

,uid,user_city,item_id,author_id,item_city,channel,finish,like,music_id,device,create_time,duration_time,fl_00,fl_01,fl_11,fl_10,target
0,57384,53,43192,142828,1,0,0,0,4514,34178,53085993699,39,0,0,0,0,0
1,3230,6,46822,231026,2,0,1,0,5331,24878,53086372896,16,0,0,0,3,3
2,1249,329,1209078,456220,3,0,0,0,39980,14274,53086458433,4,0,0,0,0,0
3,11928,9,1209079,456221,4,0,0,0,0,16649,53086463774,9,0,0,0,0,0
4,51266,90,1209080,126416,5,0,1,0,0,27090,53086432937,19,0,0,0,3,3

# 覆盖率

In [5]:
train_uid = set(train.uid.values)
train_item = set(train.item_id.values)
val_uid = set(val.uid.values)
val_item = set(val.item_id.values)
test_uid = set(test.uid.values)
test_item = set(test.item_id.values)

In [18]:
print (len(val_uid -  train_uid ))
print (len( val_item -  train_item ))
print ("test")
print (len(test_uid - train_uid))
print (len(test_item -  train_item))
print ("all")
print (len( test_uid -  (train_uid | val_uid )  ))
print (len( test_item -  (train_item | val_uid ) ))

2974
571466
test
3978
484560
all
3263
484560

In [9]:
print ("train")
print (len(train_uid))
print (len(train_item))
print ("val")
print (len(val_uid))
print (len(val_item))
print ("test")
print (len(test_uid))
print (len(test_item))

train
67737
3115690
val
43271
1071486
test
32615
790304